#experiences {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15rem;
}

.experiences-intro {
  h2 {
    font-size: 4rem;
    font-weight: 900;
    color: var(--text-color);
    margin-top: 1rem;
    line-height: 1;

    span {
      color: var(--accent);
    }
  }

  p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    max-width: 100%;
    margin-top: 1rem;
  }
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;

  a {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    background: var(--accent);
    border-radius: 0.5rem;
    border: 2px solid transparent;
    box-shadow: 0 0 20px var(--accent);
    border-radius: 4rem;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 40px var(--accent);
    }

    &:nth-of-type(2) {
      background-color: black;
      color: var(--accent);
      border: 2px solid var(--accent);
      box-shadow: 0 0 20px transparent;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 40px var(--accent);
        background-color: var(--accent);
        color: black;
      }
    }
  }
}

.experience {
  display: flex;
  gap: 5rem;
  border: none;
  margin-top: 3rem;
  border-bottom: 2px solid rgba(0, 68, 255, 0.5);
  padding-bottom: 1.5rem;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;

  &:hover {
    transform: scale(1.05);
    border-bottom: 2px solid var(--accent);

    .date,
    .company-logo {
      filter: brightness(1);
    }

    .description {
      visibility: visible;
    }
  }

  .description {
    font-size: 1.5rem;
    background: var(--secondary);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-weight: 400;
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    max-width: 75%;
    text-align: justify;
    transform: translateX(-50%);
  }

  .date {
    filter: brightness(0.5);
    width: 20rem;
    font-size: 1.1rem;

    span {
      border: 2px solid white;
      border-radius: 4rem;
      padding: 0.5rem 1rem;
    }
  }

  .title-company {
    width: 55%;

    /* Title */
    h3 {
      font-size: 2.25rem;
      font-weight: 600;
      line-height: 1;
      margin-top: 1rem;
    }

    /* Company */
    h5 {
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: 0.5rem;
    }
  }

  .company-logo {
    width: 15%;
    filter: brightness(0.5);

    img {
      width: 64px;
      height: 64px;
    }
  }
}

@media (max-width: 1200px) {
  #experiences {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
}

@media (max-width: 576px) {
  .experience {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 2px solid rgba(0, 68, 255, 0.5);
    margin-bottom: 3rem;

    .date {
      width: 100%;
      text-align: center;
    }

    .title-company {
      width: 100%;
      text-align: center;
    }

    .company-logo {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-height: 756px) {
  #experiences {
    padding-top: 10rem;
  }
}
