header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 2rem 12% 2rem;
}

#menu-icon,
#close-icon {
  font-size: 3rem;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s ease;
  display: none;

  &:hover {
    color: var(--accent);
  }
}

.logo {
  font-size: 4rem;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s ease;
  color: var(--text-color);

  span {
    color: var(--accent);
  }

  &:hover {
    text-shadow: 0 0 25px var(--accent);
    transform: scale(1.1);
  }
}

nav a {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 4rem;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover,
  &.active {
    color: var(--accent);
  }
}

@media (max-width: 895px) {
  header {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 1rem 3%;
  }

  nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 20rem;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    border-left: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
    padding: 1rem 3%;

    &.active {
      display: block;
    }

    a {
      display: block;
      text-align: center;
      margin: 3rem 0;

      &:hover,
      &.active {
        color: var(--accent);
      }
    }
  }
}

@media (max-height: 756px) {
  .logo {
    font-size: 3rem;
  }
}
